@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --primary-color: rgba(220, 20, 60, 0.904);
}
.App {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.section {
  background-color: var(--primary-color);
  max-width: 600px;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
}
input {
  height: 10vh;
  padding: 0.5rem;
}
button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  border-color: white;
  color: black;
  font-weight: 800;
  margin: 1rem;
}
